.cate-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.cate-list button{
    width: 30vh;
    height: 15vh;
    border: none;
    background: gray;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}
.cate-list button:hover{
    background-color: pink;
}




