.discover input {
    width: 35vh;
    height: 4vh;
    border-radius: 25px;
    padding: 5px;
    font-size: 20px;
}

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}