.center{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 10vh;
    max-width: 135vh;
    justify-content: center;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.card-title{
    display: flex;
    gap: 10px;
}

.card button{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}
.card button:hover{
    background: black;
}
.cast{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    opacity: 50%;
}
.write{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
