.actor-details {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 10vh;
    max-width: 135vh;
    justify-content: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.card-title {
    display: flex;
    gap: 10px;
}
.write {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
